/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

oppia-share-lesson-modal .oppia-share-lesson-modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

oppia-share-lesson-modal .oppia-share-lesson-modal-title {
  color: #00645c;
  font-family: 'Capriola', 'Roboto', 'Arial', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}

oppia-share-lesson-modal .modal-body {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

oppia-share-lesson-modal .oppia-share-lesson-modal-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

oppia-share-lesson-modal .cancel-button {
  border: 1px solid #00645c;
  color: #00645c;
  font-weight: 700;
}

oppia-share-lesson-modal .lesson-attribution-text {
  color: #00645c;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

oppia-share-lesson-modal .share-icon-container svg {
  cursor: pointer;
  margin-bottom: 40px;
  margin-right: 12px;
}

oppia-share-lesson-modal .share-modal-btn {
  border: 1px solid #205d86;
  border-radius: 4px;
  color: #205d86;
  font-weight: 700;
  margin-right: 12px;
  padding: 8px 16px;
  width: 210px;
}

oppia-share-lesson-modal .share-modal-btn .button-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

oppia-share-lesson-modal .success-message {
  background-color: #323232;
  border-radius: 4px;
  color: white;
  margin: auto;
  padding: 12px 16px;
  width: 200px;
}

oppia-share-lesson-modal .success-message p {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

oppia-share-lesson-modal .copy-modal-body {
  align-items: center;
  display: flex;
  justify-content: center;
}

oppia-share-lesson-modal .cc-attribution-header {
  color: #0d48a1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
  text-align: center;
}

oppia-share-lesson-modal .cc-attribution-input {
  border: 1px solid #0d48a1;
  border-radius: 4px;
  padding: 10px;
  width: 49%;
}

oppia-share-lesson-modal .copy-cc-btn {
  border: 1px solid #205d86;
  border-radius: 4px;
  padding: 10px;
  width: 49%;
}

oppia-share-lesson-modal .copy-cc-btn .button-content {
  align-items: center;
  color: #205d86;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
}

oppia-share-lesson-modal .cc-attribution-text {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {
  oppia-share-lesson-modal .oppia-share-lesson-modal-footer {
    justify-content: center;
  }

  oppia-share-lesson-modal .lesson-attribution-text {
    font-size: 15px;
  }

  oppia-share-lesson-modal .share-modal-btn {
    margin-bottom: 10px;
    margin-right: 0;
  }

  oppia-share-lesson-modal .copy-modal-body-btn {
    flex-direction: column;
  }

  oppia-share-lesson-modal .cc-attribution-text {
    flex-direction: column;
  }

  oppia-share-lesson-modal .cc-attribution-input {
    margin-bottom: 10px;
    width: 100%;
  }

  oppia-share-lesson-modal .copy-cc-btn {
    width: 100%;
  }
}
