.progress-bar-container {
  align-items: center;
  display: flex;
  position: relative;
}

.multiple-checkpoints-bar {
  justify-content: space-between;
}

.lesson-progress-bar {
  background-color: #bbb;
  border-radius: 5px;
  display: flex;
  height: 5px;
  justify-content: flex-start;
  margin-left: 0;
  position: absolute;
  width: 100%;
}

.completed-progress-bar {
  background-color: #00645c;
  border-radius: 5px;
  height: 100%;
  max-width: 100%;
  transition: width 0.6s ease-in-out;
}

.completed-checkpoint-node {
  background-color: #00645c;
  border-radius: 50%;
  display: flex;
  height: 12px;
  justify-content: center;
  width: 12px;
  z-index: 0;
}

.in-progress-checkpoint-node {
  align-items: flex-start;
  background-color: #fff;
  border: 2px solid #00645c;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  z-index: 0;
}

.incomplete-checkpoint-node {
  align-items: flex-end;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  display: flex;
  height: 12px;
  justify-content: center;
  width: 12px;
  z-index: 111;
}
