.progress-tracker-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.progress-tracker-container button {
  align-items: center;
  border: 1px solid #c55f45;
  border-radius: 4px;
  color: #c55f45;
  display: flex;
  height: 44px;
  justify-content: space-between;
  margin-left: 22px;
  padding: 10px 12px;
  width: 90px;
}

oppia-checkpoint-bar {
  width: 100%;
}

@media (max-width: 768px) {
  .progress-tracker-container button {
    margin-left: 10px;
    margin-right: 22px;
  }

  .progress-tracker-container button mat-icon {
    display: none;
  }
}

@media (max-width: 320px) {
  .progress-tracker-container button {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 43px;
    padding: 5px;
    width: 40px;
  }
}
